@model IEnumerable<ERPWeb.Models.Adminstracao.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            <button type="button" class="btn btn-default details" onclick="location.href='@Url.Action("Details", "Usuarios", new { item.ID })'"><i class="glyphicon glyphicon-file"></i></button>
            <button type="button" class="btn btn-default edit" onclick="location.href='@Url.Action("Edit", "Usuarios", new { item.ID })'"><i class="glyphicon glyphicon-edit"></i></button>
            <button type="button" class="btn btn-default delete" onclick="location.href='@Url.Action("Delete", "Usuarios", new { item.ID })'"><i class="glyphicon glyphicon-trash"></i></button>
        </td>
    </tr>
}

</table>

<div class="modal" id="modal">

</div>